<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmSdsn4BG7X6vnuD814W1FmbwAui-swNE</string>
	<key>GCM_SENDER_ID</key>
	<string>935922556152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uxDesignProject</string>
	<key>PROJECT_ID</key>
	<string>trace-uxdesign</string>
	<key>STORAGE_BUCKET</key>
	<string>trace-uxdesign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935922556152:ios:17497a27d73e0c26dc6f0d</string>
</dict>
</plist>